<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RestaurantSeatingProject.Properties.Settings.Yorkie1ConnectionString"
            connectionString="Data Source=Yorkie1.db.2823567.851.hostedresource.net;Initial Catalog=Yorkie1;Persist Security Info=True;User ID=Yorkie1;Password=PaSsWoRd1579!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>